@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body{
    font-size: 15px;
}


footer{
    padding: 60px 20px 20px 20px;
    width: 100%;
}

footer .flex-container{
    display: flex;
    flex-direction: column;
}

footer .text{
    text-align: center;
}

footer .text h1{
    margin-bottom: 4.5vh;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}

footer .text p{
    line-height: 1.35rem;
    font-size: 0.95rem;
    padding: 0px 5vw;
    margin-bottom: 4.5vh;
    color: hsl(303, 10%, 53%);
}

footer .rate{
    display: block;
    margin-bottom: 4.5vh;
}

footer .rate ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center
}

footer .rate ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: hsl(300, 24%, 96%);
    border-radius: 8px;
    color: hsl(300, 43%, 22%);
    font-size: 0.75rem;
    font-weight: bolder;
}

footer .rate ul li .star{
    margin-bottom: 8px;
}

.social-proof{
    display: block;
    width: 100%;
    margin-bottom: 8px;
}

.social-proof ul{
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: column;
}

.social-proof ul li{
    background-color: hsl(300, 43%, 22%);
    margin-bottom: 10px;
    padding: 30px;
    border-radius: 8px;
    color: hsl(0, 0%, 100%);
}

.social-proof ul li header{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 30px;
}

.social-proof ul li header .title{
    line-height: 1rem;
}

.social-proof ul li header .title h3{
    font-size: 0.9rem;
    font-weight: 500;
}

.social-proof ul li header .title h4{
    color: hsl(333, 80%, 67%);
    opacity: 0.7;
    font-size: 0.9rem;
    font-weight: 400;
}

.social-proof ul li header img{
    border-radius: 50%;
    height: 30px;
}

.social-proof ul li p{
    line-height: 1.35rem;
    font-size: 0.8rem;
    opacity: 0.9;
}

@media screen and (min-width: 700px){
    footer{
        padding: 100px 120px 20px 150px;
    }
    footer .flex-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    footer .text{
        text-align: left;
        width: 40%;
    }
    footer .text h1{
        font-size: 3.75rem;
        margin-bottom: 5vh;
    }
    footer .text p{
        font-size: 1.2rem;
        padding: 0 2vw 0 0;
    }
    footer .rate{
        display: flex;
        min-width: 700px;
        margin-bottom: 0;
    }
    footer .rate ul{
        width: 100%;
        justify-content: center;
    }
    footer .rate ul li{
        flex-direction: row;
        padding: 15px 25px;
        width: 60%;
        font-size: 0.95rem;
    }
    footer .rate ul li .star{
        margin-bottom: 0;
        margin-right: 20px;
    }
    footer .rate ul li.s1{
        transform: translateX(-20%);
    }
    footer .rate ul li.s2{
        transform: translateX(-10%);
    }
    .social-proof ul{
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
    }
    .social-proof ul li{
        width: 32%;
    }
    .social-proof ul li header{
        width: 55%;
        margin-bottom: 25px;
    }
    .social-proof ul li p{
        font-size: 0.9rem;
    }
    .social-proof ul li.p1{
        transform: translateY(5%);
    }
    .social-proof ul li.p2{
        transform: translateY(15%);
    }
    .social-proof ul li.p3{
        transform: translateY(25%);
    }
    .social-proof ul li header img{
        height: 40px;
    }
    .social-proof ul li header .title{
        line-height: 1.3rem;
    }
    .social-proof ul li header .title h3{
        font-size: 1.2rem;
        font-weight: 400;
    }
    
    .social-proof ul li header .title h4{
        font-size: 1rem;
    }
}