body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(10, 12, 27);
    font-size: 1.4rem;
    font-family:Arial, Helvetica, sans-serif;
    color: #fff;
}

span{
    color: rgb(160, 104, 209)
}

p{
    color: rgb(139, 137, 159);
    text-align: left;
    font-size: 1.3rem;
}

#principal{
    list-style: none;
}

#principal li{
    display:block;
}

#container1{
    width: 1234px;
    height: 500px;
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

#container{
    display: inline-block;
    position: absolute;
    
}
/*Colocando um fundo de alguma cor em uma imagem*/
#fundo{
    width: 600px;
    height: 500px;
    float: right;
    margin-left: 630px;
    border-radius:0px 20px 20px 0px;
}

#picture{
    display: inline-block;
    background-color: rgb(57, 5, 86);
    width: 600px;
    height: 500px;
    opacity: 0.5;
    position: absolute;
    border-radius:0px 20px 20px 0px;
  }

img{
    border-radius:0px 20px 20px 0px;
}

/*Colocando um fundo de alguma cor em uma imagem*/

#marketing{
    box-sizing: border-box;
    display: inline-block;
    background-color: rgb(28, 25, 56);
    width: 630px;
    height: 500px;
    padding: 80px;
    padding-top: 40px;
    position: absolute;

  }

#marketing ul{
    width: 470px;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    display: inline-block;
    list-style: none;
}

#marketing ul li{
      margin: 0;
      margin-right: 80px;
      padding: 0;
      display: inline-block;
      font-size: 0.9rem;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      letter-spacing: 1px;
      color: rgb(139, 137, 159);
  }

  #marketing ul .last{
    margin: 0;
    margin-right: 0;
    padding: 0;
    display: inline-block;
    font-size: 0.9rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    color: rgb(139, 137, 159);
}

#marketing ul li h2{
    margin: 0;
    margin-bottom: 5px;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    color: #fff;
}

