body{
    background-image: url(../images/fundo3.jpg);
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: calc(50%);
    font-family: 'Open Sans';
}

main{
    width: 100vw;
    height: 100vh;
    display: flex !important;
    align-items: center;
}

h1.title{
    margin: 0px;
    margin-bottom: 40px;
    text-shadow: 1px 1px gray;
    width: 100%;
    text-align: center;
    font-size: calc(0.75rem + 5vh);
}

section.only{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 60vw;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    background-color: #FFFFFFBB;
    border-radius: 10px;
    box-sizing: content-box;
    opacity: 1;
    animation-name: changeop;
    animation-duration: 1.2s;
}

@keyframes changeop{
    from {opacity: 0;}
    to {opacity: 1;}
}

section.only .panel-group{
    width: 85%;
    margin: 0;
}

.panel-default{
    margin-top: 10px !important;
    box-shadow: 4px 4px 4px 0px #9e9e9e !important;
}

@media screen and (max-width: 500px){

    section.only{
        width: 80vw;
    }

    h1.title{
        font-size: calc(0.5rem + 3vh);
    }

    section.only .panel-group{
        font-size: calc(0.5rem + 1vh);
    }

}