*{
    box-sizing: border-box;
    margin: 0;
}

nav{
    height: 90px;
    width: 100%;
    background-color: rgb(4, 6, 5);
    box-shadow: 1px 1px 11px 1px black;
    position: fixed;
}

nav header{
    height: 100%;
    width: 1200px;
    margin: 0 auto;
}

nav header .title{
    float: left;
    height: 90px;
}

nav header .title .content{
    color: aliceblue;
    font-size: 24px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bolder;
    text-transform: capitalize;
    padding-top: 20px;
    height: 100%;
    float: right;
}

nav header .title .content img{
    height: 70%;
}

nav header .title .content span{
    float: right;
    line-height: 56px;
    padding-left: 20px;
}

nav header ul{
    float: right;
    margin: auto;
    line-height: 90px;
    padding: 0;
}

nav header ul a{
    box-sizing: border-box;
    display: inline-block;
    height: 90px;
    padding: 0px 18px;
    margin: 0px 2px;
    text-transform: capitalize;
    color: aliceblue;
    font-size: 1.2rem;
}

nav header ul a li{
    display: inline-block;
}

nav header ul a:hover{
    color: #25d366;
    border-bottom: 3.5px solid #25d366;
    transition: 0.3s;
}

section.first_background{
    box-sizing: border-box;
    box-sizing: content-box;
    box-shadow: 1px 1px 11px 1px black;
    padding-top: 100px;
    height: 450px;
    background-image: url(../images/fundo3.jpg);
    background-size: cover;
    background-position-y: calc(20%);
    background-repeat: no-repeat;
   
}

section.first_background .logo{
    padding-top: 90px;
    width: 980px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
}

section.first_background .logo img{
    height: 100%;
    border-radius: 50%;
    box-shadow: 1px 1px 11px 1px black;
}

section.first_background h1{
    width: 100%;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    font-family: 'Shadows Into Light', cursive;
}

section.first_background h1 span{
    color: #fff;
    text-transform: capitalize;
    font-size: 3.8rem;
}   

.our-services{
    width: 100%;
    text-align: center;
    margin-top: 105px;
    margin-bottom: 45px;
}

.our-services span{
    font-family: 'Shadows Into Light', cursive;
    text-transform: capitalize;
    font-size: 3.5rem;
    font-weight: bolder;
    width: 450px;
    padding: 60px;
    padding-top: 28px;
    margin: 0 auto;
    line-height: 3.5rem;
    background-image: url(../images/pngegg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    transform: translateX(-8%);
}

.flex-container{
    width: 100vw;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: center;
}

.flex-container .pic{
    height: 340px;
    width: 240px;
    max-width: 240px;
    max-height: 340px;
    margin: 40px;
    background-color: rgb(255, 253, 237);
    box-shadow: 4.5px 4px 11px 1px black;
}

.flex-container .pic p{
    font-size: 1.5rem;
    padding: 6px;

}

.flex-container .pic:hover{
    height: 380px;
    width: 280px;
    max-width: 280px;
    max-height: 380px;
    margin: 20px;
    box-shadow: 9px 8px 20px 1px black;
}

.flex-container .pic img{
    height: 65%;
    width: 100%;
}

footer{
    width: 100%;
    height: 300px;
    background-color: rgb(233, 229, 198);
    box-shadow: 1px 1px 11px 1px black;
}

footer ul.social-media{
    padding: 0;
    padding-top: 80px;
    margin: auto;
    margin-left: 10px;
    height: 100%;
    float: left;
}

footer ul.social-media li{
    height: 20%;
    margin-bottom: 20px;
}

footer ul.social-media li span{
    display: block;
    float: right;
    padding: 11px;
    padding-right: 21px;
    font-size: 1.5rem;
    background-color: rgb(4, 6, 5);
    color: #fff;
}

footer ul.social-media li a{
    height: 100%;
}

footer ul.social-media li a img{
    height: 100%;
}

footer iframe{
    float: right;
}

.whatsapp{
    position: fixed;
    bottom: 45px;
    right: 5px;
    margin: 0px;
    padding: 10px;
    color: #fff;
    background-color: #25d366;
    text-decoration: none;
    border: 1px #21422e solid;
    box-shadow: 1px 1px 11px #21422e;
    text-transform: uppercase;
    border-radius: 10px;
    transition: 0.6s;
}

.whatsapp:hover{
    background-color: #21422e;
    border: 1px #25d366 solid;
    transition: 0.6s;
}

.whatsapp span.call{
    float: right;
    line-height: 28px;
    padding-left: 10px;
    font-size: 0.75rem;
}

.whatsapp img{
    height: 25px;
}