@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;500;600;800&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Epilogue', sans-serif;
}

.dark{
    display: none;
}

.dark-show{
    display: block;
    position: fixed;
    background-color: #444343bb;
    height: 100%;
    width: 100%;
}

body{
    overflow-x: hidden;
}


header{
    width: 100vw;
    height: auto;
}

header nav{
    width: 92%;
    height: 65px;
    padding-top: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header nav .logo{
    display: flex;
    align-items: center;
    height: 100%;
}

header nav .logo .snap{
    display: flex;
    padding-left: 5px;
    align-items: center;
    height: 45%;
}

header nav .logo .snap img{
    display: block;
    height: 100%;
}

header nav .logo ul.services li{
    list-style: none;
}

header nav .logo ul.services li.service{
    display: none;
}

header nav ul.login{
    display: none;
}

header nav .mobile-menu-icon{
    height: 100%;
}

header nav .mobile-menu-icon buttom{
    display: flex;
    align-items: center;
    height: 100%;
}

header nav .mobile-menu-icon buttom img{
    height: 30%;
    display: block;
    transform: translateY(-35%);
    cursor: pointer;
}

.mobile-menu-closed{
    display: none;
}

.mobile-menu-show{
    display: block;
    position: fixed;
    font-size: 0.9rem;
    top: 0;
    bottom: 0;
    right: 0;
    width: 58vw;
    background-color: #fff;
    z-index: 2;
}

.mobile-menu-show ul.mobile-menu-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.mobile-menu-show ul.mobile-menu-list li.mobile-menu-item{
    display: flex;
    margin-left: 20px;
    width: 100%;
    margin-bottom: 3.5vh;
}

.mobile-menu-show header.mobile-menu-open-icon{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 18px;
}

.mobile-menu-show footer.social-media{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.mobile-menu-show footer.social-media ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    min-height: 8vh;
}

.mobile-menu-show footer.social-media ul li{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 3vh;
}

.mobile-menu-show footer.social-media ul li button{
    background-color: #fff;
    width: 75%;
    height: 45px;
    border-color: #6a6a6a;
    border-radius: 18px;
    cursor: pointer;
}

.mobile-menu-item-open{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 0px 30px 20px;
}

.mobile-menu-list-open{
    display: flex;
    padding: 0px 0px 18px 30px;
}

.mobile-menu-list-open p{
    width: 100%;
    font-size: 0.9rem;
    padding-left: 28px;
}

.mobile-menu-list-open p{
    width: 100%;
    font-size: 0.9rem;
    padding-left: 28px;
}

.mobile-menu-list-open p.bk1{
    background-image: url(./images/icon-todo.svg);
    background-repeat: no-repeat;
}

.mobile-menu-list-open p.bk2{
    background-image: url(./images/icon-calendar.svg);
    background-repeat: no-repeat;
}

.mobile-menu-list-open p.bk3{
    background-image: url(./images/icon-reminders.svg);
    background-repeat: no-repeat;
}

.mobile-menu-list-open p.bk4{
    background-image: url(./images/icon-planning.svg);
    background-repeat: no-repeat;
}

.mobile-menu-list-open p.bk5{
    width: 100%;
    font-size: 0.9rem;
    padding-left: 0px;
}

.mobile-menu-item-closed{
    display: none;
}

.menu-closed-mob{
    padding-right: 20px;
    background-image: url(./images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-position: 95%;
}
.menu-open-mob{
    padding-right: 20px;
    background-image: url(./images/icon-arrow-up.svg);
    background-repeat: no-repeat;
    background-position: 95%;
}

main{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

main section.background-mobile{
    width: 100%;
}

main section.background-mobile img{
    width: 100%;
}

main section.background-desktop{
    display: none;
}

main section.background-desktop img{
    height: auto;
}

main section.text{
    width: 95vw;
    margin: 0 auto;
}

main section.text h1.title{
    width: 100%;
    text-align: center;
    font-size: calc(1.7rem + 2vw);
    font-weight: 800;
    margin: 5.5vh 0 3vh 0;
}

main section.text h1.title-desktop{
    display: none;
    width: 100%;
    text-align: center;
    font-size: calc(1.7rem + 2vw);
    font-weight: 800;
    margin: 2.5vh 0 3vh 0;
    z-index: -1;
}

main section.text p{
    width: 100%;
    text-align: center;
    font-size: calc(0.5rem + 1.8vw);
    line-height: 1.3rem;
    font-weight: 500;
    color: hsl(0, 0%, 41%);
    margin-bottom: 6vh;
}

main section.text footer.footer-desktop{
    display: none;
}

main div.button{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 6vh;
}

main div.button button{
    font-size: 0.9rem;
    font-weight: 600;
    padding: 15px 23px;
    border-radius: 14px;
    color: hsl(0, 0%, 98%);
    background-color: hsl(0, 0%, 8%);
    cursor: pointer;
}

footer.footer-mobile{
    width: 100%;
    margin-bottom: 12vh;
}

footer.footer-mobile ul.sponsors{
    width: 85%;
    margin: 0 auto;
    height: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer.footer-mobile ul.sponsors li{
    height: 100%;
    display: flex;
    align-items: center;
}

footer.footer-mobile ul.sponsors li img{
    display: block;
}

footer.footer-mobile ul.sponsors li img.s1{
    height: 40%;
    width: 22vw;
}

footer.footer-mobile ul.sponsors li img.s2{
    height: 72%;
    width: 13vw;
}

footer.footer-mobile ul.sponsors li img.s3{
    height: 40%;
    width: 18vw;
}

footer.footer-mobile ul.sponsors li img.s4{
    height: 50%;
    width: 15vw;
}

@media screen and (min-width: 550px){

    header nav{
        height: 100px;
    }

    main section.text h1.title{
        font-size: calc(2.5rem + 3.5vw);
        margin: 4vh 0 5vh 0;
    }
    
    main section.text p{
        box-sizing: border-box;
        word-spacing: 0.3rem;
        padding: 0px 0px;
        font-size: calc(0.6rem + 2.2vw);
        line-height: 2.4rem;
        margin-bottom: 8vh;
    }

    main div.button{
        margin-bottom: 10vh;
    }

    main div.button button{
        font-size: calc(0.6rem + 2vw);
        padding: 25px 35px;
        border-radius: 15px;
    }

    footer ul.sponsors li img.s1{
        height: 70%;
        width: 20vw;
    }
    
    footer ul.sponsors li img.s2{
        height: 100%;
        width: 10vw;
    }
    
    footer ul.sponsors li img.s3{
        height: 90%;
        width: 13vw;
    }
    
    footer ul.sponsors li img.s4{
        height: 90%;
        width: 13vw;
    }
}

@media screen and (min-width:1100px){

    body{
        overflow: hidden;
    }

    header{
        margin-bottom: 5vh;
    }

    header nav{
        width: 92vw;
        margin: 0 auto;
    }

    header nav .logo{
        width: 700px;
        justify-content: space-between;
    }

    header nav .logo ul.services{
        display: flex;
        list-style: none;
        justify-content: space-between;
        height: 100%;
        width: 85%;
    }
    header nav .logo ul.services li{
        display: flex;
        align-items: center;
    }
    header nav .logo ul.services li.service{
        display: flex;
    }
    header nav .logo ul.services li.service p{
        display: flex;
        text-transform: capitalize;
        cursor: pointer;
    }
    header nav .logo ul.services li.service p.menu-closed{
        padding-right: 20px;
        background-image: url(./images/icon-arrow-down.svg);
        background-repeat: no-repeat;
        background-position: 95%;
    }
    header nav .logo ul.services li.service p.menu-open{
        padding-right: 20px;
        background-image: url(./images/icon-arrow-up.svg);
        background-repeat: no-repeat;
        background-position: 95%;
    }
    header nav .logo ul.services .snap{
        height: 35%;
    }
    header nav ul.login{
        display: flex;
        list-style: none;
        justify-content: space-between;
        width: 175px;
    }
    header nav ul.login li{
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    header nav ul.login li button{
        background-color: #fff;
        padding: 10px 20px;
        border: 1px solid black;
        border-radius: 12px;
        cursor: pointer;
    }
    header nav .mobile-menu-icon buttom{
        display: none;
    }
    main{
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 80vw;
        height: 80vh;
        margin: 0 auto;
    }
    main section.background-mobile{
        display: none;
    }
    main section.background-desktop{
        display: block;
        height: 70vh;
        width: 25vw;
    }
    main section.background-desktop img{
        display: block;
        height: 100%;
        width: 100%;
    }
    main section.text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        margin-left: 60px;
    }
    main section.text h1.title{
        display: none;
    }
    main section.text h1.title-desktop{
        display: block;
        width: 100%;
        text-align: left;
        font-size: 4.8rem;
        line-height: 4rem;
        font-weight: 800;
        margin: 2.5vh 0 5.5vh 0;
    }
    main section.text p{
        width: 70%;
        text-align: left;
        font-size: 1rem;
        line-height: 1.3rem;
        font-weight: 500;
        color: hsl(0, 0%, 41%);
        margin-bottom: 6vh;
    }
    
    main div.button{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10vh;
    }
    
    main div.button button{
        font-size: 0.9rem;
        font-weight: 600;
        padding: 15px 23px;
        border-radius: 14px;
        color: hsl(0, 0%, 98%);
        background-color: hsl(0, 0%, 8%);
        cursor: pointer;
    }
    footer.footer-mobile{
        display: none;
    }
    main section.text footer.footer-desktop{
        display: block;
    }
    main section.text footer.footer-desktop{
        width: 100%;
    }
    main section.text footer.footer-desktop ul.sponsors-desktop{
        display: flex;
        list-style: none;    
        justify-content: space-between;
    }
    .dropdown-menu-1{
        display: none;
        position: absolute;
        background-color: #fff;
        z-index: 1;
        top: 85px;
        left: 180px;
        width: 135px;
        height: 120px;
        padding: 20px 0px 20px 0px;
        box-shadow: 1px 1px 20px 0px #bcbcbc;
        border-radius: 8px;
    }
    .dropdown-menu-2{
        display: none;
        position: absolute;
        background-color: #fff;
        z-index: 1;
        top: 85px;
        left: 370px;
        width: 120px;
        height: 80px;
        padding: 20px 0px;
        box-shadow: 1px 1px 20px 0px #bcbcbc;
        border-radius: 8px;
    }
    .open{
        display: flex !important;
    }
    .open ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .open ul li{
        box-sizing: border-box;
        display: flex;
        width: 100%;
        padding-left: 20px;
    }
    .open ul li p{
        margin-left: 10px;
        font-size: 0.8rem;
    }
    .mobile-menu-show{
        display: none;
    }
}
