@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;500;600;800&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Epilogue', sans-serif;
}

body{
    overflow: hidden;
}

header{
    width: 100vw;
    height: auto;
}

header nav{
    width: 92%;
    height: 65px;
    padding-top: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header nav .logo{
    display: flex;
    align-items: center;
    height: 100%;
}

header nav .logo .snap{
    display: flex;
    padding-left: 5px;
    align-items: center;
    height: 45%;
}

header nav .logo .snap img{
    display: block;
    height: 100%;
}

header nav .logo ul.services li{
    list-style: none;
}

header nav .logo ul.services li.service{
    display: none;
}

header nav ul.login{
    display: none;
}

header nav .mobile-menu-icon{
    height: 100%;
}

header nav .mobile-menu-icon buttom{
    display: flex;
    align-items: center;
    height: 100%;
}

header nav .mobile-menu-icon buttom img{
    height: 30%;
    display: block;
    transform: translateY(-35%);
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

main section.background-mobile{
    width: 100%;
}

main section.background-mobile img{
    width: 100%;
}

main section.background-desktop{
    display: none;
}

main section.background-desktop img{
    height: auto;
}

main section.text{
    width: 95vw;
    margin: 0 auto;
}

main section.text h1.title{
    width: 100%;
    text-align: center;
    font-size: calc(1.7rem + 2vw);
    font-weight: 800;
    margin: 2.5vh 0 3vh 0;
}

main section.text h1.title-desktop{
    display: none;
    width: 100%;
    text-align: center;
    font-size: calc(1.7rem + 2vw);
    font-weight: 800;
    margin: 2.5vh 0 3vh 0;
}

main section.text p{
    width: 100%;
    text-align: center;
    font-size: calc(0.5rem + 1.8vw);
    line-height: 1.3rem;
    font-weight: 500;
    color: hsl(0, 0%, 41%);
    margin-bottom: 6vh;
}

main section.text footer.footer-desktop{
    display: none;
}

main div.button{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 8vh;
}

main div.button button{
    font-size: 0.9rem;
    font-weight: 600;
    padding: 15px 23px;
    border-radius: 14px;
    color: hsl(0, 0%, 98%);
    background-color: hsl(0, 0%, 8%);
    cursor: pointer;
}

footer.footer-mobile{
    width: 100%;
    margin-bottom: 12vh;
}

footer.footer-mobile ul.sponsors{
    width: 90%;
    margin: 0 auto;
    height: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer.footer-mobile ul.sponsors li{
    height: 100%;
    display: flex;
    align-items: center;
}

footer.footer-mobile ul.sponsors li img{
    display: block;
}

footer.footer-mobile ul.sponsors li img.s1{
    height: 40%;
    width: 22vw;
}

footer.footer-mobile ul.sponsors li img.s2{
    height: 72%;
    width: 13vw;
}

footer.footer-mobile ul.sponsors li img.s3{
    height: 40%;
    width: 18vw;
}

footer.footer-mobile ul.sponsors li img.s4{
    height: 50%;
    width: 15vw;
}

@media screen and (min-width: 550px){

    header nav{
        height: 100px;
    }

    main section.text h1.title{
        font-size: calc(2.5rem + 3.5vw);
        margin: 4vh 0 5vh 0;
    }
    
    main section.text p{
        box-sizing: border-box;
        word-spacing: 0.3rem;
        padding: 0px 0px;
        font-size: calc(0.6rem + 2.2vw);
        line-height: 2.4rem;
        margin-bottom: 8vh;
    }

    main div.button{
        margin-bottom: 10vh;
    }

    main div.button button{
        font-size: calc(0.6rem + 2vw);
        padding: 25px 35px;
        border-radius: 15px;
    }

    footer ul.sponsors li img.s1{
        height: 70%;
        width: 20vw;
    }
    
    footer ul.sponsors li img.s2{
        height: 100%;
        width: 10vw;
    }
    
    footer ul.sponsors li img.s3{
        height: 90%;
        width: 13vw;
    }
    
    footer ul.sponsors li img.s4{
        height: 90%;
        width: 13vw;
    }
}

@media screen and (min-width:1100px){

    header{
        margin-bottom: 5vh;
    }

    header nav{
        width: 92vw;
        margin: 0 auto;
    }

    header nav .logo{
        width: 50%;
        justify-content: space-between;
    }

    header nav .logo ul.services{
        display: flex;
        list-style: none;
        justify-content: space-between;
        height: 100%;
        width: 85%;
    }
    header nav .logo ul.services li{
        display: flex;
        align-items: center;
    }
    header nav .logo ul.services li.service{
        display: flex;
    }
    header nav .logo ul.services li.service p{
        display: flex;
        text-transform: capitalize;
        cursor: pointer;
    }
    header nav .logo ul.services .snap{
        height: 35%;
    }
    header nav ul.login{
        display: flex;
        list-style: none;
        justify-content: space-between;
        width: 12%;
    }
    header nav ul.login li{
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    header nav ul.login li button{
        background-color: #fff;
        padding: 10px 20px;
        border: 1px solid black;
        border-radius: 12px;
        cursor: pointer;
    }
    header nav .mobile-menu-icon buttom{
        display: none;
    }
    main{
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 80vw;
        height: 80vh;
        margin: 0 auto;
    }
    main section.background-mobile{
        display: none;
    }
    main section.background-desktop{
        display: block;
        height: 70vh;
        width: 25vw;
    }
    main section.background-desktop img{
        display: block;
        height: 100%;
        width: 100%;
    }
    main section.text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        margin-left: 0;
    }
    main section.text h1.title{
        display: none;
    }
    main section.text h1.title-desktop{
        display: block;
        width: 100%;
        text-align: left;
        font-size: 4.8rem;
        line-height: 4rem;
        font-weight: 800;
        margin: 2.5vh 0 5.5vh 0;
    }
    main section.text p{
        width: 70%;
        text-align: left;
        font-size: 1rem;
        line-height: 1.3rem;
        font-weight: 500;
        color: hsl(0, 0%, 41%);
        margin-bottom: 6vh;
    }
    
    main div.button{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10vh;
    }
    
    main div.button button{
        font-size: 0.9rem;
        font-weight: 600;
        padding: 15px 23px;
        border-radius: 14px;
        color: hsl(0, 0%, 98%);
        background-color: hsl(0, 0%, 8%);
        cursor: pointer;
    }
    footer.footer-mobile{
        display: none;
    }
    main section.text footer.footer-desktop{
        display: block;
    }
    main section.text footer.footer-desktop{
        width: 100%;
    }
    main section.text footer.footer-desktop ul.sponsors-desktop{
        display: flex;
        list-style: none;    
        justify-content: space-between;
    }
}
